!!!
%html
  %head
    %script{:src => "http://js.pusher.com/1.11/pusher.min.js", :type => "text/javascript"}
    %title KVB Tracker
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = yield
